:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --figtree-medium: 500;
    --figtree-extra-bold: 800;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: Figtree;
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Figtree, sans-serif;
    background-color: var(--yellow);
    color: var(--gray-500);
}

/*typography*/
.text-preset-1 {
    font-size: 2.0rem;
    font-weight: var(--figtree-extra-bold);
}

.text-preset-2 {
    font-size: 1.4rem;
    font-weight: var(--figtree-medium);
}

.text-preset-3 {
    font-size: 1.2rem;
    font-weight: var(--figtree-medium);
}

.text-preset-3-bold {
    font-size: 1.2rem;
    font-weight: var(--figtree-extra-bold);
}

.text-preset-1, .text-preset-2, .text-preset-3, .text-preset-3-bold{
    letter-spacing: 0;
    line-height: 150%;
}

@media screen and (min-width: 768px) {
    .text-preset-1 {
        font-size: 2.4rem;
    }

    .text-preset-2 {
        font-size: 1.6rem;
    }

    .text-preset-3, .text-preset-3-bold {
        font-size: 1.4rem;
    }
}

h1, h2, h3 {
    color: var(--gray-950);
}

h2 {
    width: fit-content;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*containers*/
.container {
    width: 100%;
    height: calc(100vh - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 32.7rem;
    background-color: white;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    border-radius: 2rem;
    border: 1px solid var(--gray-950);
    box-shadow: 8px 8px 0 black;
}

@media screen and (min-width: 768px) {
    .card {
        width: 38.4rem;
    }
}

.card-image {
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

.card-footer {
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
}

.card-footer img{
    width: 3.2rem;
    height: 3.2rem;
}

/*buttons*/
.btn {
    padding: 0.4rem 1.2rem;
    width: fit-content;
    border-radius: 0.4rem;
}

.btn-primary {
    background-color: var(--yellow);
    color: var(--gray-950);
}




















